.goog-te-gadget-simple {
	background-color: #000;
	border: none;
}

.goog-te-gadget-icon {
	width: 0;
	height: 0;
}

.goog-te-gadget {
	font-family: inherit;
	font-size: inherit;
	color: #fff;
}

.goog-te-gadget-simple .goog-te-menu-value {
    color: #fff;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
	border-radius: 2px;
}

.cse .gsc-search-button-v2, .gsc-search-button-v2 {
    padding: 8px 27px;
}

.jumbotron {
	background-color: none;
}